  .sponsorship h1 {
  color: #00fdef;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 10%;
}

.sponsorship .heading {
  display: inline-block;
  justify-content: center;
  align-items: center;
  width: max-content;
}

.sponsorship .row {
  text-align: center;
}
